@import url("https://fonts.googleapis.com/css22?family=Roboto:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding:0;
  box-sizing: border-bot;
}

body {
  font-family: "Roboto", system-ui;
  background-color: hls(240, 4%, 7%);
  displat: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

:root {
  --primary : 250 66% 61%;
}

.btn {
  all: unset;
  font-size: 24px;
  margin-top: 100px;
  padding: 14px 52px;
  background: hsl(0, 0%, 0%);
  color: white;
  text-transform: uppercase;
  position: relative;
  border-radius: 100px;
}
